.navbar-nav{
    .user-menu{
        a{
            padding: 0 15px;
            span{
                display: inline-block;
                height: 100%;
                line-height: 50px
            }
            img{
                float: none;

            }
        }
        
    }
}
