<section class="content-header">
    <h1>
        首页
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
    </ol>
</section>

<section class="content" id="router-view">

    <!-- Your Page Content Here -->
    <div>home

    </div>
</section>