<!-- Menu Toggle Button -->
<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user">
    {{#if isSignin}}
    <!-- The user image in the navbar-->
    <img src="public/images/user2-160x160.jpg" class="user-image" alt="User Image">
    <!-- hidden-xs hides the username on small devices so only the image appears. -->
    <span class="hidden-xs">欢迎你，{{username}}</span>
    {{else}}
    <span class="hidden-xs" id="user-signin">登录</span>
    <span class="hidden-xs" id="user-signup">注册</span>
    {{/if}}
</a>
<ul class="dropdown-menu">
    <!-- The user image in the menu -->
    {{#if isSignin}}
    <li class="user-header">
        <img src="public/images/user2-160x160.jpg" class="img-circle" alt="User Image">

        <p>
            欢迎访问第5大道后台管理系统
            <h4>{{username}}</h4>
        </p>
    </li>
{{else}}
    <!-- Horizontal Form -->
    <div class="box box-info">
            <div class="box-header with-border">
                    <h3 class="box-title">登录</h3>
                  </div>
        <!-- form start -->
        <!-- 表单中input框一定要有name属性 -->
        <form class="form-horizontal" id='user-form'>
            <div class="box-body">
                <div class="form-group">
                    <label for="username" class="col-sm-3 control-label">用户名</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">密码</label>

                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                    </div>
                </div>
            </div>
        </form>
    </div>
    {{/if}}


    <!-- Menu Footer-->
    <li class="user-footer">
        {{#if isSignin}}
        <div class="pull-left" id="reset">
            <a href="#" class="btn btn-primary btn-flat" >注销</a>
        </div>
        <div class="pull-right">
            <a href="#" class="btn btn-default btn-flat">取消</a>
        </div>
        {{else}}
        <div class="pull-left">
                <a href="#" class="btn btn-primary btn-flat" id="confirm">确定</a>
            </div>          
        <div class="pull-right">
            <a href="#" class="btn btn-default btn-flat">取消</a>
        </div>
        {{/if}}
    </li>
</ul>